
<section>
  <!-- Aqui eu coloco a imagem da internet -->
  <img src="../../../assets/telainicial.jpg"/>
  <!-- texto basico-->
  <h1 id="texto">Seja bem vindo ao <p>Spotify</p></h1>

  <!-- Aqui é o botao para linkar com o FAQ -->
  <a id="btn_pag" routerLink="/createuser" routerLinkActive="active">
    <button type="button" style="border-radius: 40px; padding-top: 10px; padding-bottom: 10px;
    padding-left: 50px; padding-right: 50px;" class="btn btn-success">SE INSCREVA NO SITE</button>
  </a>


  </section>


