<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="container">

      <h2>perguntas frequentes </h2>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                  Não consigo fazer o login
              </a>
            </h3>
          </div>
          <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
            <div class="panel-body px-3 mb-4">
              <p>O nome de usuário, senha ou endereço de e-mail estão incorretos?</p>
              <ul>
                <li>Use a nossa ferramenta de redefinição de senha.</li>
                <li>Entre em contato conosco para que possamos atualizar o endereço de e-mail associado à sua conta.</li>
                <li>Verifique as suas caixas de lixo eletrônico/spam.</li>
                <li>Crie uma nova conta e comece do zero.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  Redefinir sua senha
              </a>
            </h3>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body px-3 mb-4">
              <li>Acesse a página de redefinição de senha.</li>
              <li>Digite seu endereço de e-mail e clique em ENVIAR.</li>
              <li>Você vai receber um e-mail nosso com o assunto “Redefinir sua senha”.</li>
              <li>Clique no link Redefinir senha no e-mail, e faça conclua as ações necessarias .</li>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  Não consigo escutar as músicas do Spotify
              </a>
            </h3>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body px-3 mb-4">
              <p>Se o Spotify não estiver funcionando conforme esperado ou se apresentar problemas na reprodução ou no próprio aplicativo, confira alguns passos para solucionar questões comuns:</p>
              <li>Reinicie o aplicativo do Spotify.</li>
              <li>Confira se o aplicativo está atualizado.</li>
              <li>Confira se o aplicativo está em modo offline.</li>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                  Fale conosco
              </a>
            </h3>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body px-3 mb-4">
              <li>Essa é nossa maneira favorita de interagir com fãs e clientes, todos os dias e a qualquer hora. Mande um Tweet pra gente por aqui: @SpotifyAjuda.</li>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>
